
<div class="col-md-6 col-md-offset-3">
  <% if logged_in? %>
  <div class = "slack_form">
    <% url = "" %>
    <% if Rails.env.development? %>
    <% url = "/gmutest/slack"%>
    <% elsif Rails.env.production? %>
    <% url = "/godmusicuploader/slack"%>
    <% end %>
    <%= form_tag(url, method: "post") do %>
    <%= label_tag :channel, "投稿先" %>
    <%= text_field_tag 'slack[channel]', '', placeholder: 'kmc-dtm' %>
    <%= label_tag :content, "投稿内容" %>
    <%= text_field_tag 'slack[content]' , '', class: 'form-control' %>
    <%= submit_tag("投稿する") %>
    <% end %> 
  </div>
  <% end %>
</div>
