

<h1>New Music</h1>

<%= form_for :music, url: user_musics_path do |f| %>
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>

  <p>
    <%= f.label :upload_file %>  <br>
    <%= f.file_field :upload_file %>
  </p>

  
    <%= f.submit %>
  </p>


<% end %>

<td><%= link_to 'Back', home_path %></td>
    
