<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class= "musics">
      <div class = "box">
	<p><%= @music.music_name %></p>
	<div style="text-align:left"><%= link_to @music.user.user_name, user_path(@music.user_id) %></div>	
	<% if @music.artwork.url.nil? %>
	<% else %>
	<div style="text-align:left"><%= image_tag(@music.artwork.url)%></div>
	<% end %>
	<p><%= @music.caption %></p>
	<div><%= audio_tag(@music.file.url,:controls => true) %></div>
        <p>投稿日：<%= @music.created_at %></p>
      </div>
      <div>
	<% if ! @is_faved %>
	<%= link_to "ブックマークする", add_music_path(@music), method: :post, class: "btn btn-lg btn-primary" %>
	<%  else %>
	<%= link_to "ブックマークから外す", delete_music_path(@music), method: :delete, class: "btn btn-lg btn-primary" %>
	<% end %>
      </div>
    </div>
    <% @comments.each do |comment| %>
    <%= render 'shared/comment_show', object: comment %>
    <% end %>
    <%= form_for(@comment) do |comment| %>
    <%= render 'shared/comment_form', object: comment %>
    <% end %>

  </div>
</div>
