<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class= "musics">
      <div class = "box">
	<p><%= @music.music_name %></p>
	<p><%= link_to @music.user.user_name, user_path(@music.user_id) %></p>
	<p><%= @music.caption %></p>
	<p><%= audio_tag( @music.file.url , :controls => true) %></p>
        <p>投稿日：<%= @music.created_at %></p>
      </div>
      <div>
	<% if ! @is_faved %>
	<%= link_to "ブックマークする", add_music_path(@music), method: :post, class: "btn btn-lg btn-primary" %>
	<%  else %>
	<%= link_to "ブックマークから外す", delete_music_path(@music), method: :delete, class: "btn btn-lg btn-primary" %>
	<% end %>
      </div>
    </div>
    <div class= "comments">
      <%= @comments.each do |comment| %>
      <p><%= render 'shared/comment_show', object: comment %></p>
      <% end %>
      <%= form_for(@comment) do |comment| %>
      <%= render 'shared/comment_form', object: comment %>
      <% end %>
    </div>
  </div>
</div>
